doctype html 
html
  head 
    meta(charset='UTC-8')
    title Members Only! 
  body 
    nav
      ul
      if currentUser
        li
          a(href='/membership') Become a member
        li 
          a(href='/logout') Log out
      else
        li 
          a(href='/signup') Sign up
        li
          a(href='/login') Log in 
    block messages