doctype html 
html
  head 
    meta(charset='UTC-8')
    title Members Only! 
  body 
    nav
      ul 
        li
          a(href='/login') Log in 
        li 
          a(href='/signup') Sign up
    block messages