doctype html 
html
  head 
    meta(charset='UTC-8')
    title Members Only! 
  body 
    nav
      ul 
        li
          a(href='#') Log in 
        li 
          a(href='#') Sign up
    block messages