doctype html 
html 
  head 
    meta(charset='UTC-8')
    title Welcome back! 
  body 
    h1 Welcome back! 
    form(action="/login", method="POST")
      label Email
        input(type='email' name='email' placeholder='example@email.com' value=(userInput ? userInput.email : '') required)
      label Password
        input(type='password' name='password' value='' required)
      button Log in
    a(href='/') Back to home