extends header
block messages
  if currentUser 
    h2 Welcome back #{currentUser.firstname}!
    a(href='/message/new') Create a message
  h1 All Messages
  if Array.from(messages).length
    for message in messages 
      .message 
        h2 #{message.title}
        p #{message.content}
        if currentUser && currentUser.isMember
          h4 #{message.author.username + ' | ' + message.timestamp}
        if currentUser && currentUser.isAdmin 
          .admin
            form(action=(message.url) + '/delete' method='GET')
              button Delete
  else
    h2 No messages.