doctype html
html
  head 
    meta(charset='UTC-8')
    title Become a Member 
  body 
    h1 Become a Member 
    form(action='/membership' method='POST')
      input(type='number' name='code' required)
      button Submit
    p.hint Hint: one thru six
    a(href='/') Back to home