doctype html
html
  head 
    meta(charset='UTC-8')
    title Become an Admin 
  body 
    h1 Become an Admin 
    form(action='/admin' method='POST')
      input(type='number' name='code' required)
      button Submit
    p.hint Hint: reverse member code
    a(href='/') Back to home