:root {
  --link-color: #2050e1;
  --text-color: #141414;
  --background-color: #fafafa;
}

/* header */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background: var(--background-color);
  color: var(--text-color);
}
.container {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #ccc;
}
nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.logo {
  margin: 0 auto 0 0;
  padding-left: 25px;
}
a {
  color: var(--text-color);
  transition: color 0.35s linear 0s;
}
a:visited {
  color: var(--text-color);
}
a:hover {
  color: var(--link-color);
}
li {
  list-style-type: none;
  margin-right: 25px;
}
.btn {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: var(--link-color);
  color: var(--background-color);
  border-radius: 4px;
  transition: background-color 0.35s linear 0s;
}
.btn:hover {
  background-color: #002aa8;
  cursor: pointer;
}
.btn-inverse {
  padding: 8px;
  background: var(--background-color);
  color: var(--link-color);
  border: 2px solid var(--link-color);
  transition: background-color 0.35s linear 0s, color 0.35s linear 0s;
}
.btn-inverse:hover {
  background-color: var(--link-color);
  color: var(--background-color);
  border-color: var(--background-color);
}
.btn-reverse {
  border-color: var(--background-color);
}
.welcome-back {
  width: 100%;
  padding: 10px 25px;
  background: var(--link-color);
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome-back h3 {
  font-size: 22px;
}
.all-messages {
  height: 100%;
  padding: 25px;
}
.all-messages h1 {
  padding: 0 0 5px 15px;
  font-size: 38px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.message {
  padding: 0 15px;
  margin-top: 20px;
}
.message h2 {
  font-size: 28px;
}
.message .content {
  padding-top: 5px;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
}
.btn-delete {
  margin-left: 10px;
  color: #ff0000;
  border-color: #ff0000;
}
.btn-delete:hover {
  background-color: #ff0000;
  border-color: #ff0000;
}
.details {
  padding-top: 5px;
  margin-top: 8px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.form-header {
  padding-top: 35px;
}
.form-container {
  width: 100%;
  padding: 35px 65px;
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form label {
  font-size: 22px;
  margin-bottom: 20px;
}
.form input {
  padding: 2px 6px;
  margin-left: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form input:focus {
  outline-color: var(--link-color);
}
.return-home {
  margin-left: 40px;
  font-size: 20px;
}
.return-home:hover {
  text-decoration: underline;
}
.hint {
  margin-bottom: 20px;
}
.delete-container {
  display: flex;
  flex-direction: column;
}
.delete-message {
  border-left: 3px solid #ccc;
  margin-bottom: 25px;
}
.delete-message h2 {
  font-size: 20px;
}
.disclaimer {
  margin: 35px 0 25px 0;
}
.delete-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}